.store-information-page {
    padding-top: 50px;
    padding-bottom: 50px;
}
.store-information-page .tab-wrapper {
    border-bottom: 1px solid #CED4DA;
    padding-bottom: 5px;
}
.store-information-page .tab-wrapper .tab {
    width: fit-content;
    font-size: 13px;
    font-weight: 400;
    border-bottom: 2px solid #EF454A;
    padding-bottom: 15px;
}

.store-information-page .form-store-info {
    color: #4F575E;
    padding: 30px 25px;
    margin-top: 40px;
    font-size: 14px;
}
.store-information-page .form-store-info .row {
    text-align: left;
}
.store-information-page .form-store-info .row > div:nth-child(1) {
    line-height: 38px;
}